<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile copy.css">
    <title>MyReviews</title>
</head>

<body class="bg-dark">

    <div class="w-100 d-flex justify-content-between">
        <h1 class="mx-lg-5 my-lg-4 m-4 w-50 text-light"><a href="../index.html"
                class="text-decoration-none">MyReviews</a></h1>
        <button class="btn d-flex align-items-center justify-content-end me-lg-5 m-4">Cerrar Sesión</button>
    </div>
    <div class="d-flex px-lg-5 py-lg-2 px-4 w-100">

        <button type="button" class="btn btn-add me-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+
            Agregar</button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Nueva review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input type="text" class="form-control" id="title" placeholder="Titulo">
                        </div>
                        <div class="form-group">
                            <label for="title2">Titulo 2 (opcional)</label>
                            <input type="text" class="form-control" id="title2" placeholder="Titulo">
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <textarea name="" id="description" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="cover">Portada</label>
                            <input type="file" id="cover" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="score">Puntuación</label>
                            <input type="text" id="score" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-style" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-style">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown me-4">
            <button class="btn dropdown-toggle p-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false"> Categoría </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Película</a></li>
                <li><a class="dropdown-item" href="#">Serie</a></li>
                <li><a class="dropdown-item" href="#">Anime</a></li>
                <li><a class="dropdown-item" href="#">Todo</a></li>
            </ul>
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <!-- LIST -->
    <div class="table-responsive mx-5 mt-5">
        <table class="table">
            <thead>
                <tr id="tr-head">
                    <th scope="col">#</th>
                    <th scope="col">Tìtulo</th>
                    <th scope="col">Puntuación</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="tr-style">
                    <th scope="row">1</th>
                    <td>Tate no Yuusha no Nariagari</td>
                    <td>9</td>
                    <td>Anime</td>
                    <td>Editar</td>
                </tr>
                <tr class="tr-style">
                    <th scope="row">2</th>
                    <td>Peaky Blinders</td>
                    <td>8.5</td>
                    <td>Serie</td>
                    <td>Editar</td>
                </tr>
                <tr class="tr-style">
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>7.0</td>
                    <td>Película</td>
                    <td>Editar</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>